<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @pin.title %>
</p>

<p>
  <strong>Decription:</strong>
  <%= @pin.decription %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @pin.image %>
</p>

<p>
  <strong>Link:</strong>
  <%= @pin.link %>
</p>

<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
