<header class="color">
  <nav class="navbar navbar-inverse nav-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <h3>
            <%= link_to "Photos AE", pins_path%>          
          </h3>                         
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">      
          <ul class="nav navbar-nav navbar-right">     
              <% if current_user %>
                <li>
                    <%= link_to new_pin_path do %>
                      <i class="glyphicon glyphicon-plus "></i>
                    <% end %>
                </li>

                <li class="dropdown">
                  <a data-toggle="dropdown" href="#">
                    <%= image_tag current_user.avatar, width:25, height:25 %>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li> <%= link_to 'Sign out', destroy_user_session_path, method: :delete %> </li>
                  </ul>
                </li>
              <% else %>                  
                  <li> <%= link_to 'Sign up', new_user_registration_path %> </li>                         
                  <li> <%= link_to 'Sign in', new_user_session_path %> </li>                
              <% end %>

          </ul>
      </div>
    </div>
  </nav>
</header><!-- /header -->