<div id="pics">
    <% @pins.each do |pin| %>
      <div class="white-panel">
        <div class="pics-info">

            <h6> <%= pin.title %> </h6>

            <div class="img">
              <%= link_to image_tag(pin.image, class: "img-responsive"), pin%>
            </div>

            <span><%= pin.decription %></span> <br>
            <span><%= pin.link %></span><br>
            <span><%= pin.user.email %></span><br>
            <span> <%= I18n.l pin.created_at, format: :short %> </span><br>
            
            <div class="btns">
              <%= link_to 'Editar', edit_pin_path(pin), class: "btn btn-default btn-sm"  %>
              <%= link_to 'Eliminar', pin, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-sm"  %>  
            </div>            
    
        </div> 
      </div>

    <% end %>
</div>    