<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control"  %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="checkbox">
          <label>
            <%= f.check_box :remember_me %>  Remember me
          </label>
        </div>
      <% end -%>           
    <%= f.submit "Log in", class: "btn btn-success" %>      
    <% end %>    
  <%= render "devise/shared/links" %>
  </div>
</div>