body{
	font-family: 'Titillium Web', sans-serif;
}
a,a:visited{
	color: #18ffff !important;	
	text-decoration: none !important;
}
.navbar{
	background: #03a9f4 !important;
	border-style: none;
}
.navbar-toggle{
	background: #03a9f4 !important;
	border-style: none;
	border-radius: 0px;
}
.navbar-brand{
	color: white !important;
}
.navbar-text{
	color: white !important;	
}
.nav .navbar-nav{
	background: #0288d1 !important;
}



#pics {
	position: relative;
	max-width: 100%;
	width: 100%;
}
.img {
	height: auto;
}
.btns{
	display: inline-block;
}
.white-panel {
	position: absolute;
	background: #f1f2f3;
	padding: 12px;
}
.pics-info{
	background: #f1f2f3;
	margin-top: 10px;
}

.white-panel h6 {
	font-size: 1.2em;
}

.white-panel h1 a {
	color: #A92733;
}

.white-panel:hover {
	box-shadow: 3px 3px 6px rgba(0,1,2,0.3);
	margin-top: -2px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


/*// .table-cart{
// 	background: #FFF;
// 	border-radius: 1em;
// 	margin-bottom: 25px;
// 	padding: 1em;
// }

// .table-cart img{
// 	width: 50px;
// }


// .fa{
// 	font-size: 22px;
// }

// .faa{
// 	font-size: 17px;
// }
// #image{
// 	position: relative;
//     top:  -8px;
//     left: 2px;
// }

// .slide{
// 	top: -22px;
// }*/
